<launch>
	<arg name="namespace" default=""/>
  
	<!-- <group ns="$(arg namespace)"> -->
		<node pkg="seekthermal_ros" type="seekthermal_ros_node" name="seekthermalRosNode" output="screen">
			<rosparam file="$(find seekthermal_ros)/config/seekthermal_ros.yaml" command="load" />
		</node> 
	<!-- </group> -->
</launch>
